body.register header {
    background-color: black;
    height: 119px;
}

body.register header div.logo {
    width: 120px;
}

body.register header div.logo img {
    width: 100%;
}


/* _GENERAL-REGISTER */
body.register a {
    text-decoration: underline;
}

/* _BODY-REGISTER */
body.register {
    font-family: sans-serif;
    background-image: url('NO../images/img-autentic-register/register-wireframe.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 480px;
    margin: auto;
    border: solid 1px;
}

/* _MAIN */
body.register main {
    background-color: bisque;
    height: 100%;
}

/* _CONTAINER */
body.register div.container {
    width: 90%;
    margin: auto;
}

/* ___________________________________________________________AUNTENTIC-REGISTER */
body.register main div.register-register {
    height: 136px;
    padding-top: 19px;
    text-align: center;
}

/* CREA TU CUENTA H1 */
body.register main div.register-register h1 {
    margin: auto;
    text-transform: uppercase;
    font-size: 22px;
    color: #000f;
    padding: 7px 0;
    width: 93%;
    border-radius: 7px;
    border: solid 1px;
    background-color: #fff;
}

/* _SI-CUENTA H3 */
body.register main div.register-register h3.si-cuenta {
    margin-top: 12px;
}

/* AUTENTICATE YOU H3 */
body.register main div.register-register h3.autentication {
    margin-top: 7px;
}

/* _______________________________________________________REGISTER */

/* _REQUIRED SHOW*/
body.register main div.register form.register div.inputs div.show,
body.register main div.register form.register span.required {
    text-align: right;
    color: lightslategray;
    font-size: 12px;
}

/* _INPUTS */
body.register main div.register form.register div.inputs {
    display: flex;
    flex-direction: column;
    height: 187px;
    justify-content: space-between;
    width: 101%;
}

body.register main div.register form.register div.inputs div.email input {
    width: 100%;
    margin: 25px 0 1px;
}

body.register main div.register form.register div.inputs div.name-surname input,
body.register main div.register form.register div.inputs div.psw input {
    width: 49%;
}

/* _PSW REQUIRED */
body.register main div.register form.register p.psw-required {
    font-size: 12px;
    color: lightslategray;
    margin-top: 5px;
}

body.register main div.register form.register div.inputs input {
    padding: 6px 9px;
}

/* _BORN TITLE */
body.register main div.register form.register h3.born {
    margin-top: 25px;
    text-align: center;
}

/* _BORN */
body.register main div.register form.register div.born {
    display: flex;
    justify-content: space-around;
    margin: 27px 0 17px;
}

body.register main div.register form.register div.born input {
    width: 70px;
    text-align: center;
    padding: 6px 9px;

}

/* _GENERO TITLE */
body.register main div.register form.register h3.sex {
    margin-top: 25px;
    text-align: center;
}

/* _NEW TERMS TITLE */
body.register main div.register form.register h3.news-terms {
    text-align: center;
    margin-top: 33px;
}

body.register main div.register form.register div.sex-inputs {
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: flex-end;
}

/* _NEWS TERMS */
body.register main div.register form.register div.news-terms {
    height: 185px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

body.register main div.register form.register div.news-terms p label {
    display: inline-block;
    margin-left: 34px;
    margin-top: -19px;
}

/* _CREAR CUENTA */
body.register main div.register form.register button {
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(180deg, #016080, transparent);
    color: #fff;
    width: 93%;
    padding: 8px 0;
    font-size: 13px;
    display: block;
    border-radius: 17px;
    margin-top: 7px;
    font-weight: bold;
}

body.register main span.o {
    text-align: center;
    margin: 14px 0;
    display: inherit;
}

/* ___________________________________________________________________REGISTER-APIS */

body.register main div.register-apis {
    display: flex;
    align-items: center;
}

/* _APIS REGISTER */
body.register main div.register-apis div.apis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110px;
    width: 100%;
    text-transform: uppercase;
}

/* _RUNER */
body.register main div.register-apis div.runer {
    width: 100%;
}

body.register main div.register-apis div.runer img {
    width: 100%;
    margin: -7px 0 0;
}

hr {
    margin: 40px 0;
}

/* _BENEFITS     */
body.register main article.benefits {
    height: 250px;
    text-align: center;
}

body.register main article.benefits h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* _RUNER */
body.register main div.runer {
    width: 100%;
}

body.register main div.runer img {
    width: 100%;
    margin: 17px 0 0 10px;
}

/* _SUBE */
body.register div.sube a{
    color: #fff;
    font-weight: bold;
    display: block;

}
body.register div.sube {
    background-color: #000;
    color: #fff;
    border: solid 1px;
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
    display: block;
}


body.register footer {
    background-color: #000;
    height: 100px;
}