<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticación>ssp</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<!-- _BODY-AUTENTIC -->

<body class="autentic">

    <header style="display: flex; align-items: center;">

        <div class="logo">
            <img src="/images/lion-logo.png" alt="">
        </div>

        <h3>
            <a style="color:#fff" href="https://terebinthine-approp.000webhostapp.com">INICIO>000webhost</a>
        </h3>

    </header>

    <!-- _MAIN -->
    <main>

        <!-- _CONTAINER -->
        <div class="container">

            <!-- _AUTENTIC-REGISTER -->
            <div class="autentic-register">
                <h1>
                    iniciar sesión
                </h1>
                <h3 class="no-cuenta">
                    <span class="no-cuenta">¿No tienes una cuenta?</span>
                </h3>
                <h3 class="register">
                    <a href="register.html">Regístrate</a>
                </h3>
            </div>

            <!-- _AUTENTICATION -->
            <div class="autentication">
                <!-- _FORM-AUTENTIC -->
                <form class="autentic" action="/action_page.php" method="post">

                    <!-- _INPUTS -->
                    <div class="inputs">

                        <!-- _REQUIRED -->
                        <span class="required"> Obligatorio *</span>

                        <input type="text" placeholder="Email *" name="uname" required="">

                        <!-- _SHOW -->
                        <div class="show">
                            <label for="togglePassword">Mostrar</label>
                            <input type="checkbox" id="togglePassword">
                        </div>

                        <input type="password" placeholder="Contraseña *" name="psw" required="">

                    </div>

                    <!-- _REMEMBER-FORGOT -->
                    <div class="remember-forgot">

                        <!-- _REMEMBER -->
                        <div class="remember">
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Recordar
                            </label>
                        </div>

                        <!-- _FORGOT -->
                        <div class="forgot">
                            <span class="psw"> <a href="#">Olvidé mi contraseña</a></span>
                        </div>
                    </div>
                    <!-- _ENTRALE -->
                    <button type="submit" class="entrale">Éntrale</button>
                </form>

                <span class="o">O</span>


                <!-- _APIS-AUTENTIC -->
                <div class="autentic-apis">

                    <div class="apis">
                        <h4>facebook</h4>
                        <h4>google</h4>
                        <h4>yahoo</h4>
                    </div>

                    <!-- _RUNER IMG -->
                    <div class="runer">
                        <img src="/images/autentic-img-runer1.png" alt="Runer... ¡don't stop!">
                    </div>

                </div>

            </div>
            <hr>
            <!-- _BENEFITS -->
            <article class="benefits">
                <h2>
                    súmate al club.
                    disfruta los beneficios
                </h2>
                <p>
                    Creando una cuenta obtendrás muchos beneficios. Varias formas de pago. Envíos gratis en compras de 2
                    o
                    más productos. Seguimiento de envíos. ¡Y mucho más!
                </p>
            </article>

        </div>

        <!-- _RUNER2 IMG -->
        <div class="runer2">
            <img src="/images/autentic-img-runer1.png" alt="Runer... ¡don't stop!">
        </div>

        <!-- _SUBE -->
        <div class="sube">
            <a href="#">PARRIBA</a>
        </div>

    </main>

    <footer>
    </footer>

</body>

</html>